.leftBar {
  flex: 2;

  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  .container {
    padding: 1rem;
    border-right: 1px solid lightgray;

    hr {
      margin: 1.2rem 0;
      border: none;
      height: 0.08rem;
      background-color: lightgray;
    }
    .menu {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      .user {
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
