.subItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .2rem;


  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
}

.subItem:hover {
  background-color: lightgray;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: .2rem;
}
